.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  
  .input label {
    font-weight: bold;
    font-size: 15px;
  }
  
  .input input {
    width: 2rem;
    padding: .2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    font-size: 12px;
  }